<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Eappraise API</title>
  <style>


  body{
    background-color:#F2552C; text-align:center;
  }

  h1{
    font-size:100px;
    }

  h2{
    font-size:80px;
  }

  .nonnav{
    margin:100px;
    padding:100px;
  }

  li{
    display: inline;
    padding:8px;
    font-family: 'Open Sans', sans-serif;
  }

  a:link, a:visited {
    background-color: blue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover, a:active {
    background-color: aqua;
  }

</style>

  <script>
  $('ul.nav').find('a').click(function(){
    var $href = $(this).attr('href');
    var $anchor = $('#'+$href).offset();
    window.scrollTo($anchor.left,$anchor.top);
    return false;
  });
</script>
</head>
<body>
    <h1> Eappraise API </h1><hr>
    <p> Eappraise API is a standard RESTful API. The URL for specifc requests are documented below along with a description of expected return. API has CORS enabled</p><hr>

      <h2> RESTful routes </h2><hr>
    <div id="top>"
      <div class="masthead">
          <ul style="list-style: none;" class="nav nav-pills pull-right">
              <li><a href="#getall">GET ALL route</a></li>
              <li><a href="#getone">GET ONE route</a></li>
              <li><a href="#post">POST route</a></li>
              <li><a href="#patch">PATCH route</a></li>
              <li><a href="#delete">DELETE route</a></li>
            </ul>
      </div>
    </div><hr>

    <div id="getall" class="nonnav">  <h2> Get all reports GET /reports </h2>
        <h5> This is for returning every entry from the database</h5>
          <p>{
                "allReports": [
                {
                  "__v": 0,
                  "gross_rent": 25000,
                  "address": "2247 29th st. santa monica ca 90405",
                  "address2": "santa monica ca 90405",
                  "address1": "2247 29th st.",
                  "phone": "5555555555",
                  "email": "joe@gmail.com",
                  "_id": "5813e218c1dec40c5156a128"
                },<br>
                  {
                    "__v": 0,
                    "gross_rent": 35000,
                    "address": "540 n rossmore avenue los angeles ca 90006",
                    "address2": "los angeles ca 90006",
                    "address1": "540 n rossmore avenue",
                    "phone": "4444444444",
                    "email": "jim@gmail.com",
                    "_id": "5813e218c1dec40c5156a325"
                  },<br>
                  {
                    "__v": 0,
                    "gross_rent": 45000,
                    "address": "123 fake st. fake city fake state 00000",
                    "address2": "fake city fake state 00000",
                    "address1": "123 fake st.",
                    "phone": "3333333333,
                    "email": "carl@gmail.com",
                    "_id": "5813e218c1dec40c5156a632"
                  }
                ]
              }
          </p>
          <div class="masthead">
              <ul style="list-style: none;" class="nav nav-pills pull-right">
                  <li><a href="#getone">GET ONE route</a></li>
                  <li><a href="#post">POST route</a></li>
                  <li><a href="#patch">PATCH route</a></li>
                  <li><a href="#delete">DELETE route</a></li>
                  <li><a href="#top">HOME</a></li>
                </ul>
          </div>
        </div><hr>

            <div id="getone" class="nonnav"><h2> Get one report GET /reports/:id </h2>
              <h5> This is for returning one entry from the database</h5>
                      <p>{
                            "report": {
                              "_id": "5813e218c1dec40c5156a128",
                              "gross_rent": 25000,
                              "address": "2247 29th st. santa monica ca 90405",
                              "address2": "santa monica ca 90405",
                              "address1": "2247 29th st.",
                              "phone": "5555555555",
                              "email": "joe@gmail.com",
                              "__v": 0
                            }
                          }
                        </p>
                        <div class="masthead">
                            <ul style="list-style: none;" class="nav nav-pills pull-right">
                                <li><a href="#getall">GET ALL route</a></li>
                                <li><a href="#post">POST route</a></li>
                                <li><a href="#patch">PATCH route</a></li>
                                <li><a href="#delete">DELETE route</a></li>
                                <li><a href="#top">HOME</a></li>
                              </ul>
                        </div>
            </div><hr>

              <div id="post" class="nonnav"><h2> Post a report POST /reports </h2>
                    <h5> This is for posting one entry into the database</h5>
                    <p>{
                        "newReport": {<br>
                          "_id": "5813e218c1dec40c5156a128",
                          "gross_rent": 25000,
                          "address": "2247 29th st. santa monica ca 90405",
                          "address2": "santa monica ca 90405",
                          "address1": "2247 29th st.",
                          "phone": "5555555555",
                          "email": "joe@gmail.com",
                          "__v": 0
                                      }
                        }
                      </p>
                      <div class="masthead">
                          <ul style="list-style: none;" class="nav nav-pills pull-right">
                              <li><a href="#getall">GET ALL route</a></li>
                              <li><a href="#getone">GET ONE route</a></li>
                              <li><a href="#patch">PATCH route</a></li>
                              <li><a href="#delete">DELETE route</a></li>
                              <li><a href="#top">HOME</a></li>
                            </ul>
                      </div>
              </div><hr>


              <div id="patch" class="nonnav">  <h2> Patch to a report PATCH /reports/:id </h2>
                  <h5> This is for updating one entry from the database</h5>
                  <p>{
                        "message": "Report successfully updated",<br>
                        "report": {
                          "_id": "5813e218c1dec40c5156a128",
                          "gross_rent": 25000,
                          "address": "2247 29th st. santa monica ca 90405",
                          "address2": "santa monica ca 90405",
                          "address1": "2247 29th st.",
                          "phone": "5555555555",
                          "email": "matt@gmail.com",
                          "__v": 0
                        }
                      }
                    </p>
                    <div class="masthead">
                        <ul style="list-style: none;" class="nav nav-pills pull-right">
                            <li><a href="#getall">GET ALL route</a></li>
                            <li><a href="#getone">GET ONE route</a></li>
                            <li><a href="#post">POST route</a></li>
                            <li><a href="#delete">DELETE route</a></li>
                            <li><a href="#top">HOME</a></li>
                          </ul>
                    </div>
              </div><hr>

                <div id="delete" class="nonnav"><h2> Delete a report DELETE /reports/:id </h2>
                  <h5> This is for detleting one entry in the database</h5>
                  <p>{
                      "message": "Report successfully deleted"
                    }
                  </p>
                  <div class="masthead">
                      <ul style="list-style: none;" class="nav nav-pills pull-right">
                          <li><a href="#getall">GET ALL route</a></li>
                          <li><a href="#getone">GET ONE route</a></li>
                          <li><a href="#post">POST route</a></li>
                          <li><a href="#patch">PATCH route</a></li>
                          <li><a href="#top">HOME</a></li>
                        </ul>
                  </div>
                </div><hr>

</body>
</html>
